html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

body { background: url(../img/bg.jpg); }

button:active { -webkit-transform: scale(0.95); -moz-transform: scale(0.95); -ms-transform: scale(0.95); -o-transform: scale(0.95); transform: scale(0.95); }

/*----------btn---------- */
.btn { background: 1px solid #00a0a8; color: white; font-family: "Myriad Pro"; font-size: 22px; font-weight: bold; width: 169px; height: 40px; line-height: 40px; -webkit-transition: 0.2s; -moz-transition: 0.2s; -o-transition: 0.2s; transition: 0.2s; text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4); -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; -webkit-box-shadow: 0 4px 9px black, inset 0 0 0 1px rgba(255, 255, 255, 0.38); -moz-box-shadow: 0 4px 9px black, inset 0 0 0 1px rgba(255, 255, 255, 0.38); box-shadow: 0 4px 9px black, inset 0 0 0 1px rgba(255, 255, 255, 0.38); -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.btn-open { position: absolute; top: 50%; left: 50%; margin-top: -20px; margin-left: -84.5px; background: #008d96; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #008d96), color-stop(100%, #00646f)); background-image: -webkit-linear-gradient(#008d96, #00646f); background-image: -moz-linear-gradient(#008d96, #00646f); background-image: -o-linear-gradient(#008d96, #00646f); background-image: linear-gradient(#008d96, #00646f); }
.btn-open:hover { background: #00646f; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #00646f), color-stop(100%, #008d96)); background-image: -webkit-linear-gradient(#00646f, #008d96); background-image: -moz-linear-gradient(#00646f, #008d96); background-image: -o-linear-gradient(#00646f, #008d96); background-image: linear-gradient(#00646f, #008d96); }

.btn-sign { margin-top: 14px; background: #629600; background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, rgba(117, 117, 117, 0.9)), color-stop(100%, rgba(222, 222, 222, 0.9))); background-image: -webkit-linear-gradient(bottom, rgba(117, 117, 117, 0.9) 0%, rgba(222, 222, 222, 0.9) 100%); background-image: -moz-linear-gradient(bottom, rgba(117, 117, 117, 0.9) 0%, rgba(222, 222, 222, 0.9) 100%); background-image: -o-linear-gradient(bottom, rgba(117, 117, 117, 0.9) 0%, rgba(222, 222, 222, 0.9) 100%); background-image: linear-gradient(bottom, rgba(117, 117, 117, 0.9) 0%, rgba(222, 222, 222, 0.9) 100%); background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #629600), color-stop(100%, #2f6e00)); background-image: -webkit-linear-gradient(#629600, #2f6e00); background-image: -moz-linear-gradient(#629600, #2f6e00); background-image: -o-linear-gradient(#629600, #2f6e00); background-image: linear-gradient(#629600, #2f6e00); }
.btn-sign:hover { background: #2f6e00; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #2f6e00), color-stop(100%, #629600)); background-image: -webkit-linear-gradient(#2f6e00, #629600); background-image: -moz-linear-gradient(#2f6e00, #629600); background-image: -o-linear-gradient(#2f6e00, #629600); background-image: linear-gradient(#2f6e00, #629600); }
.btn-sign img { display: none; }

.btn-load { cursor: default; font: 0/0 a; text-shadow: none; color: transparent; }
.btn-load img { display: inline-block; }

.btn-close { position: absolute; top: 11px; right: 11px; display: inline-block; height: 21px; width: 21px; line-height: 21px; background: #8e8e8e; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.75), inset 0 1px 9px rgba(0, 0, 0, 0.18), inset 0 0 250px rgba(54, 54, 54, 0.22); -moz-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.75), inset 0 1px 9px rgba(0, 0, 0, 0.18), inset 0 0 250px rgba(54, 54, 54, 0.22); box-shadow: 0 1px 8px rgba(0, 0, 0, 0.75), inset 0 1px 9px rgba(0, 0, 0, 0.18), inset 0 0 250px rgba(54, 54, 54, 0.22); -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; }
.btn-close:hover { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70); opacity: 0.7; }

/*----------sign---------- */
.sign, .error { width: 330px; height: 552px; position: absolute; top: 50%; left: 50%; margin-top: -276px; margin-left: -165px; z-index: 10; background: #1c1c1c; overflow: hidden; border: 1px solid black; font-family: "Myriad Pro"; color: white; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; -webkit-box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.4); -moz-box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.4); box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.4); }

.sign-hide { display: none; }

.sign__main { position: relative; padding: 15px 29px 23px 29px; border-bottom: 1px solid black; background: url(../img/bg-main.png); -webkit-box-shadow: inset 0 0px 0px 1px rgba(255, 255, 255, 0.1); -moz-box-shadow: inset 0 0px 0px 1px rgba(255, 255, 255, 0.1); box-shadow: inset 0 0px 0px 1px rgba(255, 255, 255, 0.1); }

.sign__topper { margin-bottom: 15px; }

.sign__title { text-align: center; font-size: 30px; line-height: 32px; text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4); }

.sign__roll input { color: white; background-color: rgba(58, 58, 58, 0.09); width: 100%; height: 36px; font-size: 15px; line-height: 15px; padding: 0 10px; margin-bottom: 17px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), inset 0 1px 2px rgba(0, 0, 0, 0.6); -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), inset 0 1px 2px rgba(0, 0, 0, 0.6); box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), inset 0 1px 2px rgba(0, 0, 0, 0.6); }
.sign__roll input:focus, .sign__roll input:invalid, .sign__roll input:valid { outline: none; }
.sign__roll input:focus { border-color: rgba(240, 50, 130, 0.5); -webkit-box-shadow: 0px 0px 3px rgba(240, 50, 130, 0.5); -moz-box-shadow: 0px 0px 3px rgba(240, 50, 130, 0.5); box-shadow: 0px 0px 3px rgba(240, 50, 130, 0.5); }
.sign__roll input::-webkit-input-placeholder { color: white; font-style: italic; padding-left: 2px; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50); opacity: 0.5; }
.sign__roll input::-moz-placeholder { color: white; font-style: italic; padding-left: 2px; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50); opacity: 0.5; }

.sign__label { display: block; font-size: 13px; line-height: 13px; margin-bottom: 8px; text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4); filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70); opacity: 0.7; }
.sign__label span { color: red; }

.sign__btn { text-align: center; }

.sign__footer { padding-top: 13px; height: 100%; background: url(../img/bg-footer.png); -webkit-box-shadow: inset 0 0px 0px 1px rgba(255, 255, 255, 0.1); -moz-box-shadow: inset 0 0px 0px 1px rgba(255, 255, 255, 0.1); box-shadow: inset 0 0px 0px 1px rgba(255, 255, 255, 0.1); }

.sign__member { margin-left: -20px; text-align: center; color: #5b5b5b; font-size: 13px; line-height: 13px; text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4); }
.sign__member a { color: white; }
.sign__member a:hover { text-decoration: none; }

/*-----ico----- */
.ico { display: inline-block; }

.i-close { background: url('../img/icons-s76b5c36647.png') 0 0 no-repeat; width: 7px; height: 7px; vertical-align: 1px; }

/*-----error----- */
.error { width: 400px; height: 200px; margin-top: -100px; margin-left: -200px; }

.lteie8 .sign__roll input { padding-top: 6px; line-height: 20px; background: #0e0e0e; }
